<header>
    <!-- <div class="logo-holder">
        <img src="assets/kadaster-logo.png" width="60em">
    </div>
    <div class="title">
        <h1>BAG</h1>
    </div> -->
    <h1 class="text-center">
        <a class="pull-left" href="#">
            <img src="assets/kadaster-logo.png" width="50px" alt="">
        </a><span style="margin-left: 25px;">BAG</span>

    </h1>

    <!-- <div class="align-self-center">
        <form>
            <div class="input-group">
                <label for="search-field" class="sr-only">Zoeken:</label>
                <input type="search" class="form-control" id="search-field">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">
                        <span class="far fa-search" aria-hidden="true"></span>
                        <span class="sr-only">Zoekopdracht starten</span>
                    </button>
                </div>
            </div>
        </form>
    </div> -->
</header>