<footer class="footer-light container-fluid">
    <nav class="container" aria-label="footer">
        <ul class="list-unstyled row footer-row footer-bar no-gutters-lg">
            <li class="col-6 col-lg-2 footer-bar-item text-center">
                <a href="/privacy" class="footer-link">privacy</a>
            </li>
            <li class="col-6 col-lg-2 footer-bar-item text-center">
                <a href="/disclaimer" class="footer-link">disclaimer</a>
            </li>
            <li class="col-6 col-lg-2 footer-bar-item text-center">
                <a href="/toegankelijkheidsverklaring" class="footer-link">toegankelijkheid</a>
            </li>
            <li class="col-6 col-lg-2 footer-bar-item text-center">
                <a href="/cookieverklaring" class="footer-link">cookies</a>
            </li>
            <li class="col-6 col-lg-2 footer-bar-item text-center">
                <a href="/algemene-leveringsvoorwaarden" class="footer-link">voorwaarden</a>
            </li>
            <li class="col-6 col-lg-2 footer-bar-item text-center">
                <a href="https://tax.kadaster.nl/" class="footer-link">woordenboek</a>
            </li>
        </ul>
    </nav>
</footer>
