<!-- license information -->
<article class="card same-height-child" aria-labelledby="card-heading_cards--list-0">
    <div class="card-body" >
        <h3 id="card-heading_cards--list-0" class="card-title">License Information</h3>
        <ul class="card-text fa-ul" *ngIf="licensesResults$ | async as licensesResults " >
            <li *ngFor="let licensesResult of licensesResults">
                <a href="{{licensesResult.license.value}}"><span class="fa-li far fa-angle-right" aria-hidden="true" ></span>{{licensesResult.licenseLabel.value}}</a>
            </li>
        </ul>
    </div>
</article>
<!-- catelogue -->
<article class="card same-height-child" aria-labelledby="card-heading_cards--list-0">
    <div class="card-body">
        <h3 id="card-heading_cards--list-0" class="card-title">Catalogue</h3>
        <ul class="card-text fa-ul">
            <li>
                <a href="https://imbag.github.io/catalogus/"><span class="fa-li far fa-angle-right" aria-hidden="true"></span>Catalogue Link</a>
            </li>
        </ul>
    </div>
</article>
<!-- Authoritative Provenance -->
<article class="card same-height-child" aria-labelledby="card-heading_cards--list-0">
    <div class="card-body">
        <h3 id="card-heading_cards--list-0" class="card-title">Authoritative Provenance</h3>
        <ul class="card-text fa-ul" *ngIf="provenanceResult$ | async as provenanceResult ">
            <li>
                <a href="{{provenanceResult.provenance.value}}"><span class="fa-li far fa-angle-right" aria-hidden="true"></span>{{provenanceResult.label.value}}</a>
            </li>
        </ul>
    </div>
</article>
<!-- <div class="matric" id="catalogue">
    <h3>Catelogue Link</h3>
    <a href="https://imbag.github.io/catalogus/">https://imbag.github.io/catalogus/</a>

</div> -->
<!-- <div class="matric" id="authoritative-provenance">
    <h3>Authoritative Provenance</h3>
    <p>link1</p>
    <p>link2</p>

</div> -->
