
<article class="card same-height-child" aria-labelledby="card-heading_cards--list-0">
    <div class="card-body">
        <h3 id="card-heading_cards--list-0" class="card-title">License Information</h3>
        <ul class="card-text fa-ul">
            <li>
                <a href="#"><span class="fa-li far fa-angle-right" aria-hidden="true"></span>List item link 1</a>
            </li>
            <li>
                <a href="#"><span class="fa-li far fa-angle-right" aria-hidden="true"></span>List item link 2</a>
            </li>
            <li>
                <a href="#"><span class="fa-li far fa-angle-right" aria-hidden="true"></span>List item link 3</a>
            </li>
        </ul>
    </div>
</article>
<article class="card same-height-child" aria-labelledby="card-heading_cards--list-0">
    <div class="card-body">
        <h3 id="card-heading_cards--list-0" class="card-title">Catelogue</h3>
        <ul class="card-text fa-ul">
            <li>
                <a href="https://imbag.github.io/catalogus/"><span class="fa-li far fa-angle-right" aria-hidden="true"></span>Catelogue Link</a>
            </li>
        </ul>
    </div>
</article>
<article class="card same-height-child" aria-labelledby="card-heading_cards--list-0">
    <div class="card-body">
        <h3 id="card-heading_cards--list-0" class="card-title">Authoritative Provenance</h3>
        <ul class="card-text fa-ul">
            <li>
                <a href="#"><span class="fa-li far fa-angle-right" aria-hidden="true"></span>Link1</a>
            </li>
            <li>
                <a href="#"><span class="fa-li far fa-angle-right" aria-hidden="true"></span>Link2</a>
            </li>
        </ul>
    </div>
</article>
<!-- <div class="matric" id="catalogue">
    <h3>Catelogue Link</h3>
    <a href="https://imbag.github.io/catalogus/">https://imbag.github.io/catalogus/</a>

</div> -->
<!-- <div class="matric" id="authoritative-provenance">
    <h3>Authoritative Provenance</h3>
    <p>link1</p>
    <p>link2</p>

</div> -->
