.matric {
    background-color: white;
    margin:8px;
    /* padding:5px */
}
.block {
    display:flex;
    justify-content: space-between;
}
.card-body {
    background-color: #bfe0e5;
    padding:10px 0 0 0;
    
}

#su-uf {
    width:35%;
    height:300px
    /* background-color: cornflowerblue; */
}
.chart-holder {
    width:65%;
    height:300px
    /* background-color: burlywood; */
}

#star-holder{
    width:50%;
}
#machread-holder {
    width:50%;
}

#su {
        margin:8px 8px 8px 0;
        padding:5px;
        height:45%;
}

#uf {
    margin:8px 8px 8px 0;
    padding:5px;
    height:45%;
}

#sr {
    margin:8px 8px 8px 0;
    padding:5px;
    height:150px
}
#mh {
    margin:8px 0 8px 8px;
    padding:5px;
    height:150px
}

h3 {
    font-size: 1.1875rem;
    margin-top: 1.125rem;
}