
    <article class="card same-height-child" aria-labelledby="card-heading_cards--image-0">
        <div class="card-body">
            <h3 id="card-heading_cards--image-0" class="card-title">Data Story 1</h3>
            <div class="aspect-ratio-parent aspect-ratio-3-2">
                <img class="aspect-ratio-child cover" src="../../files/assets/images/placeholders/3-2.png" alt=""
                    width="600px" height="400px" loading="lazy">
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent placerat nec nulla ac
                feugiat.
            </p>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary card-link"><span class="btn-text">Open</span></a>
            </div>
        </div>
    </article>




    <article class="card same-height-child" aria-labelledby="card-heading_cards--image-0">
        <div class="card-body">
            <h3 id="card-heading_cards--image-0" class="card-title">Data Story 2</h3>
            <div class="aspect-ratio-parent aspect-ratio-3-2">
                <img class="aspect-ratio-child cover" src="../../files/assets/images/placeholders/3-2.png" alt=""
                    width="600px" height="400px" loading="lazy">
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent placerat nec nulla ac
                feugiat.
            </p>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary card-link"><span class="btn-text">Open</span></a>
            </div>
        </div>
    </article>

