<!-- data story a -->
    <article class="card same-height-child" aria-labelledby="card-heading_cards--image-0">
        <div class="card-body">
            <h3 id="card-heading_cards--image-0" class="card-title">Data Story: BAG 2.0</h3>
            <div class="aspect-ratio-parent aspect-ratio-3-2">
                <img class="aspect-ratio-child cover" src="./assets/bag.png" alt=""
                    width="600px" height="400px" loading="lazy">
            </div>
            <p class="card-text">Bevraging op basis van een numerieke filter. Tevens kunnen op verschillende manieren worden opgevraagd. In Bevraging 2 is het ook mogelijk om adressen en gebouwen met een specifieke oppervlakte of met een specifiek bouwjaar te op te vragen.
            </p>
            <div class="card-footer text-center">
                <a href="https://data.labs.kadaster.nl/kadaster/-/stories/bag-20" class="btn btn-primary card-link"><span class="btn-text">Open de Data Story</span></a>
            </div>
        </div>
    </article>
<!-- data story b -->
    <!-- <article class="card same-height-child" aria-labelledby="card-heading_cards--image-0">
        <div class="card-body">
            <h3 id="card-heading_cards--image-0" class="card-title">Data Story 2</h3>
            <div class="aspect-ratio-parent aspect-ratio-3-2">
                <img class="aspect-ratio-child cover" src="../../files/assets/images/placeholders/3-2.png" alt=""
                    width="600px" height="400px" loading="lazy">
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent placerat nec nulla ac
                feugiat.
            </p>
            <div class="card-footer text-center">
                <a href="https://data.labs.kadaster.nl/kadaster/-/stories/bag-20" class="btn btn-primary card-link"><span class="btn-text">Open</span></a>
            </div>
        </div>
    </article> -->

