<app-header></app-header>
<main>
    <section class="left-section">
        <app-title></app-title>
        <app-abstract></app-abstract>
        <app-data-model-browser></app-data-model-browser>
        <app-comment></app-comment>
    </section>
    <section class="middle-section">
        <app-navigation></app-navigation>
    </section>
    <section class="right-section">
        <app-data-story-browser></app-data-story-browser>
        <app-links></app-links>
    </section>
    
</main>
<app-footer></app-footer>

