.matric {
    background-color: white;
    margin:0.75rem 0 0.75rem 0.75rem;
    padding:5px;
    height:93%
}
h3 {
    font-size: 1.1875rem;
    margin-top:0.5rem
}
.chart-holder {
    width:95%;
    height:105%
}
