.matric {
    background-color: white;
    margin:8px 0 8px 0;
    padding:5px
}

.viewer {
    margin-left:auto;
    margin-right:auto;
}

article {
    margin:0.75rem 0;

}

h3 {
    font-size: 1.1875rem;
    
}