<div class="matric">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">WMS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">WFS</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <app-quality-metrics></app-quality-metrics>   
        </div>
    </div>
</div>